/* Desktops, large screens */
@media only screen and (max-width: 1024px) {

	/* TopBar */
	/* NavBar */

	nav ul {
		flex-direction: column;
		gap: 1.5rem !important;
		margin: 0.5rem;
	}

	/* Hero */

	header {
		width: 90% !important;

	}

	header img {
		right: 0;
	}

	.hero-content {
		width: 40% !important;
		left: 0;
	}

	/* Products */


	/* Form */
	/* Footer */

	.footer-logos {
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}

	.footer-logos imag {
		width: 30% !important;
	}

	.footer-text {
		flex-direction: column !important;
		gap: 2rem;
		align-items: center;
	}

	.footer-col-1 p {
		text-align: center;
	}

	.footer-text ul {
		justify-content: center;
	}


	footer .row img {
		width: 40% !important;
	}

	/* BotBar */
}

/* Small screens, laptops */
@media only screen and (max-width: 769px) {

	/* TopBar */
	.top-bar:hover {
		scale: 1;
	}

	.top-bar img {
		width: 15px;
		height: 15px;
	}

	.top-bar span {
		margin-right: 4px;
	}

	/* NavBar */
	/* Hero */
	/* Slider */
	.slider {
		width: 95% !important;
	}

	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		width: 1rem;
	}

	/* Products */
	.product-item {
		display: flex;
		flex-direction: column-reverse;
		width: 100% !important;
	}

	/* Form */

	form * {
		font-size: 1.2rem !important;
	}

	/* Footer */

	.footer-col-1 {
		flex-direction: column !important;
		gap: 2rem;
	}



	footer ul {
		gap: 0.5rem;
	}

	/* BotBar */
}

/* iPads, Tablets */
@media only screen and (max-width: 481px) {

	/* TopBar */
	/* NavBar */
	nav ul a {
		font-size: 1rem !important;
	}

	/* Hero */
	header {
		width: 95% !important;
		margin: 10px;
	}

	.hero-content {
		width: 90%;
		font-size: 0.8rem !important;
		padding: 10px;
		margin: 0 !important;
		position: relative !important;
		left: 0;
	}

	/* Products */

	.product .modal .carousel {
		width: 100% !important;
	}

	/* Form */

	/* Footer */

	.footer-logos {
		display: flex !important;
		justify-content: center !important;
	}

	.footer-logos img {
		width: 40%;
	}

	footer .row img {
		width: 50% !important;
	}

	/* BotBar */
}

/* Mobile devices */
@media only screen and (max-width: 480px) {

	/* TopBar */
	/* NavBar */
	/* Hero */
	/* Products */
	/* Form */
	/* Footer */




	.footer-col-1 {
		gap: 0.5rem;
	}

	.footer-text {
		gap: 1rem;
	}

	/* BotBar */

	.bottom-bar {
		color: #fff;
		font-size: 0.6rem;
		background: linear-gradient(267deg, #f6a343 0, #ed715b 100%);
	}
}


@media screen and (max-width: 1050px) {
	.top-bar {
		gap: 0.5rem !important;
	}

	.top-bar a {
		color: var(--dark);
		border-bottom: none;
		font-size: 0.8rem !important;
		cursor: default;
	}

	.top-bar img {
		width: 15px;
		height: 15px;
	}

	nav {
		margin-bottom: 2rem;
	}

	nav ul {
		direction: rtl;
		margin-top: 2rem !important;
		padding: 0 !important;
		gap: 1rem;
	}

	.navbar-toggler-icon {
		scale: 80%;
	}

	.navbar-toggler:focus {
		border: none !important;
	}

	.product {
		margin: 0 !important;
		padding: 0 !important;
	}

	.product img {
		padding: 0 !important;
		margin-bottom: 30px;
	}

	.prodict .container {
		padding: 0;
	}

	.hotline {
		margin-top: 2rem !important;
	}



	.hero {
		flex-direction: column;
	}

	.hero img {
		width: 100%;
	}

	.hero-content {
		position: relative;
		width: 100% !important;
	}

}

@media (max-width: 600px) {

	.w-25 {
		width: 40% !important;
	}

	table {
		font-size: 0.9rem !important;
	}

	body {
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		overflow-x: hidden !important;
	}

	header {
		margin-top: 2rem;
	}

	header img {
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
	}


	#logo {
		width: 200% !important;
	}



	.product-item {
		display: flex;
		flex-direction: column-reverse;
		width: 100% !important;
	}

	.modal ul {
		margin: 0 !important;
		font-size: 1rem;
		padding: 0 !important;
		padding-right: 10px !important;
	}

	.product .container {
		width: 95%;
	}



	header {
		margin-bottom: 5rem;
	}

	button i {
		display: none !important;
	}

	.button-effet div {
		display: flex !important;
		justify-content: center !important;
	}

	.carousel-indicators {
		display: none !important;
	}

	.product-content {
		margin: 0 !important;
		padding: 0 !important;
		font-size: 1rem;
	}


	.hero-content {
		font-size: 0.8rem;
	}
}